<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuan.wms.wms.mapper.WmsItemMapper">
    
    <resultMap type="WmsItem" id="WmsItemResult">
        <result property="id"    column="id"    />
        <result property="itemNo"    column="item_no"    />
        <result property="itemName"    column="item_name"    />
        <result property="specification"    column="specification"    />
        <result property="itemType"    column="item_type"    />
        <result property="unit"    column="unit"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="rackId"    column="rack_id"    />
        <result property="areaId"    column="area_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="productionDate"    column="production_date"    />
        <result property="expiryDate"    column="expiry_date"    />
        <result property="batch"    column="batch"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWmsItemVo">
        select id, item_no, item_name, specification, item_type, unit, unit_price, rack_id, area_id, warehouse_id, quantity, production_date, expiry_date, batch, del_flag, remark, create_by, create_time, update_by, update_time from wms_item
    </sql>

    <select id="selectWmsItemList" parameterType="WmsItem" resultMap="WmsItemResult">
        <include refid="selectWmsItemVo"/>
        <where>  
            <if test="itemNo != null  and itemNo != ''"> and item_no = #{itemNo}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="specification != null  and specification != ''"> and specification = #{specification}</if>
            <if test="itemType != null  and itemType != ''"> and item_type = #{itemType}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="rackId != null "> and rack_id = #{rackId}</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="productionDate != null "> and production_date = #{productionDate}</if>
            <if test="expiryDate != null "> and expiry_date = #{expiryDate}</if>
            <if test="batch != null  and batch != ''"> and batch = #{batch}</if>
        </where>
    </select>
    
    <select id="selectWmsItemById" parameterType="Long" resultMap="WmsItemResult">
        <include refid="selectWmsItemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmsItem" parameterType="WmsItem" useGeneratedKeys="true" keyProperty="id">
        insert into wms_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemNo != null and itemNo != ''">item_no,</if>
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="specification != null">specification,</if>
            <if test="itemType != null">item_type,</if>
            <if test="unit != null">unit,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="rackId != null">rack_id,</if>
            <if test="areaId != null">area_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="productionDate != null">production_date,</if>
            <if test="expiryDate != null">expiry_date,</if>
            <if test="batch != null">batch,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemNo != null and itemNo != ''">#{itemNo},</if>
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="unit != null">#{unit},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="rackId != null">#{rackId},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="productionDate != null">#{productionDate},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="batch != null">#{batch},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWmsItem" parameterType="WmsItem">
        update wms_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemNo != null and itemNo != ''">item_no = #{itemNo},</if>
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="rackId != null">rack_id = #{rackId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="productionDate != null">production_date = #{productionDate},</if>
            <if test="expiryDate != null">expiry_date = #{expiryDate},</if>
            <if test="batch != null">batch = #{batch},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsItemById" parameterType="Long">
        delete from wms_item where id = #{id}
    </delete>

    <delete id="deleteWmsItemByIds" parameterType="String">
        delete from wms_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>