<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuan.wms.wms.mapper.WmsReceiptOrderDetailMapper">
    
    <resultMap type="WmsReceiptOrderDetail" id="WmsReceiptOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="receiptOrderNo"    column="receipt_order_no"    />
        <result property="itemId"    column="item_id"    />
        <result property="inQuantity"    column="in_quantity"    />
        <result property="money"    column="money"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="receiptOrderStatus"    column="receipt_order_status"    />
    </resultMap>

    <sql id="selectWmsReceiptOrderDetailVo">
        select id, receipt_order_no, item_id, in_quantity,  money, del_flag, remark, create_by, create_time, update_by, update_time, receipt_order_status from wms_receipt_order_detail
    </sql>

    <select id="selectWmsReceiptOrderDetailList" parameterType="WmsReceiptOrderDetail" resultMap="WmsReceiptOrderDetailResult">
        <include refid="selectWmsReceiptOrderDetailVo"/>
        <where>  
            <if test="receiptOrderNo != null "> and receipt_order_no = #{receiptOrderNo}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="inQuantity != null "> and in_quantity = #{inQuantity}</if>
            <if test="receiptOrderStatus != null "> and receipt_order_status = #{receiptOrderStatus}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectWmsReceiptOrderDetailById" parameterType="Long" resultMap="WmsReceiptOrderDetailResult">
        <include refid="selectWmsReceiptOrderDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmsReceiptOrderDetail" parameterType="WmsReceiptOrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into wms_receipt_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiptOrderNo != null">receipt_order_no,</if>
            <if test="itemId != null">item_id,</if>
            <if test="inQuantity != null">in_quantity,</if>
            <if test="money != null">money,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="receiptOrderStatus != null">receipt_order_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiptOrderNo != null">#{receiptOrderNo},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="inQuantity != null">#{inQuantity},</if>
            <if test="money != null">#{money},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="receiptOrderStatus != null">#{receiptOrderStatus},</if>
         </trim>
    </insert>

    <update id="updateWmsReceiptOrderDetail" parameterType="WmsReceiptOrderDetail">
        update wms_receipt_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiptOrderNo != null">receipt_order_no = #{receiptOrderNo},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="inQuantity != null">in_quantity = #{inQuantity},</if>
            <if test="money != null">money = #{money},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="receiptOrderStatus != null">receipt_order_status = #{receiptOrderStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsReceiptOrderDetailById" parameterType="Long">
        delete from wms_receipt_order_detail where id = #{id}
    </delete>

    <delete id="deleteWmsReceiptOrderDetailByIds" parameterType="String">
        delete from wms_receipt_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCount" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM wms_receipt_order_detail
        WHERE receipt_order_no = #{receiptOrderNo}
          AND receipt_order_status = 1
    </select>
</mapper>