<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuan.wms.wms.mapper.WmsShipmentOrderDetailMapper">
    
    <resultMap type="WmsShipmentOrderDetail" id="WmsShipmentOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="shipmentOrderNo"    column="shipment_order_no"    />
        <result property="itemId"    column="item_id"    />
        <result property="shipmentQuantity"    column="shipment_quantity"    />
        <result property="shipmentOrderStatus"    column="shipment_order_status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectWmsShipmentOrderDetailVo">
        select id, shipment_order_no, item_id, shipment_quantity, shipment_order_status, remark, create_by, create_time, update_by, update_time, del_flag from wms_shipment_order_detail
    </sql>

    <select id="selectWmsShipmentOrderDetailList" parameterType="WmsShipmentOrderDetail" resultMap="WmsShipmentOrderDetailResult">
        <include refid="selectWmsShipmentOrderDetailVo"/>
        <where>  
            <if test="shipmentOrderNo != null  and shipmentOrderNo != ''"> and shipment_order_no = #{shipmentOrderNo}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="shipmentQuantity != null "> and shipment_quantity = #{shipmentQuantity}</if>
            <if test="shipmentOrderStatus != null "> and shipment_order_status = #{shipmentOrderStatus}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectWmsShipmentOrderDetailById" parameterType="Long" resultMap="WmsShipmentOrderDetailResult">
        <include refid="selectWmsShipmentOrderDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmsShipmentOrderDetail" parameterType="WmsShipmentOrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into wms_shipment_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shipmentOrderNo != null">shipment_order_no,</if>
            <if test="itemId != null">item_id,</if>
            <if test="shipmentQuantity != null">shipment_quantity,</if>
            <if test="shipmentOrderStatus != null">shipment_order_status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shipmentOrderNo != null">#{shipmentOrderNo},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="shipmentQuantity != null">#{shipmentQuantity},</if>
            <if test="shipmentOrderStatus != null">#{shipmentOrderStatus},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateWmsShipmentOrderDetail" parameterType="WmsShipmentOrderDetail">
        update wms_shipment_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipmentOrderNo != null">shipment_order_no = #{shipmentOrderNo},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="shipmentQuantity != null">shipment_quantity = #{shipmentQuantity},</if>
            <if test="shipmentOrderStatus != null">shipment_order_status = #{shipmentOrderStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsShipmentOrderDetailById" parameterType="Long">
        delete from wms_shipment_order_detail where id = #{id}
    </delete>

    <delete id="deleteWmsShipmentOrderDetailByIds" parameterType="String">
        delete from wms_shipment_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCount" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM wms_shipment_order_detail
        WHERE shipment_order_no = #{shipmentOrderNo}
        AND shipment_order_status = 1
    </select>
</mapper>